body {
  font-family: "Courier New";
  font-size: 8pt;
  background-color: #DFDFFF;
  color: black;
  padding: 0;
  margin: 0;
}

table, td {
  background: #E7E7FF;
  border-color: black;
  border-style: solid;
  border-spacing: 0;
  border-collapse: collapse;
  border-width: 1px 1px 1px 1px;
  text-align: right;
  vertical-align: top;
  font-size: 8pt;
}

table.main, td.main, tr.main {
  background-color: #DFDFFF;
  border-width: 4px;
  border-style: none;
  text-align: left;
}

td       { padding: 2px 10px 2px 10px; }

.left    { text-align: left; }
.center  { text-align: center; }
td.g     { background: #00FF00; }
td.r     { background: #FF0000; }
td.dr    { background: #804000; }
td.y     { background: #FFFF00; }
td.x     { background: #777777; }
td.black { background: #000000; }

#Content { margin: 8pt; }

#ShareLink {
  background: #E7E7FF;
  border-color: black;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  padding: 2px;
}

#Report {
  font-size: 12pt;
  font-weight: bold;
}

#FunctionCall { background: #FFFFFF; }

